<div class="toolbar">
  <mat-toolbar>  
    <mat-toolbar-row>
      <h3>Data Viewer</h3>
      <button mat-button *ngFor="let folder of folders" (click)="showFiles(folder.name)">
        {{ folder.name }} ({{ folder.numberOfFiles }} revisions)
      </button>
      <button mat-button (click)="uploadSchemas()">
        Upload schemas
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container">
  <div class="spinner" *ngIf="!isDataLoaded && !uploadNewSchemas">
      <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="isDataLoaded && !uploadNewSchemas">
      <mat-card>
          <mat-tab-group>
            <mat-tab label="Additions ({{ diffs.adds.length }})">
              <mat-list>
                <mat-list-item *ngFor="let add of diffs.adds">{{ add }}</mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Changes ({{ diffs.changes.length }})">
              <mat-list>
                <mat-list-item *ngFor="let change of diffs.changes">{{ change }}</mat-list-item>
              </mat-list>
            </mat-tab>
            <mat-tab label="Removes ({{ diffs.rems.length }})">
              <mat-list>
                <mat-list-item *ngFor="let rem of diffs.rems">{{ rem }}</mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
  </div>
    
  <div class="upload-container" *ngIf="uploadNewSchemas">
    <mat-card>
        <mat-card-title>
          Upload new schemas
        </mat-card-title>
        <mat-card-content>
          <div>
            <input type="file" name="filetoupload" ng2FileSelect [uploader]="uploader" />
              <button type="button" (click)="uploader.uploadAll()" 
                  [disabled]="!uploader.getNotUploadedItems().length"
                  mat-button mat-raised-button color="primary">Upload</button>
            </div>
        </mat-card-content>
      </mat-card>
  </div>    
</div>