.toolbar {
    height: 64px;
    width: 100%;
}

.container {
    height: calc(100% - 64px);
    width: 100%;
}

.container div, .mat-card {
    height: 100%;
}

.mat-card {
    padding: 0;
}

.upload-container > .mat-card {
    padding: 10px;
}

.upload-container input {
    width: 350px;
}

.mat-toolbar {
    background-color: #8b63d4;
    color: #ffffff
}

.mat-button {
    height: 100%;
    margin: 0 5px;
    font-weight: bold;
    text-decoration: underline;
}

.mat-button:hover {
    color: #3a383e;
}

.mat-spinner {
    margin: 20% auto;
}