<h1 mat-dialog-title>Content of {{ data.folderName }}</h1>
<mat-dialog-content>
    <mat-list>
        <mat-list-item *ngFor="let file of data.files; let i = index">
            <mat-checkbox [(ngModel)]="data.checkedValues[i]">{{ file }}</mat-checkbox>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-raised-button color="primary"
     [mat-dialog-close]="true" [disabled]="!data.validForm()">Compare</button>
</mat-dialog-actions>
